*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

button, input{
    cursor: pointer;
    outline: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #CAF0F8;
}

main{
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    width: 55vw;
}

.disable :where(.edit-filters, .reset-all, .save){
    pointer-events: none;
    opacity: .7;
}

.content{
    display: flex;
    gap: 1rem;
    margin: 2rem 0;
    min-height: 21rem;
}

.edit-filters{
    border: 1px solid #CCC;
    border-radius: .5rem;
    width: 18rem;
    padding: 1rem;
}

.title{
    font-size: 1.2rem;    
}

.buttons{
    display: grid;
    gap: .2rem;
    margin-top: .5rem;
}

.buttons button{
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: .2rem;
    color: #6C767D;
    height: 2.5rem;
    font-size: 1rem;
}

.buttons button:hover{
    filter: brightness(95%);
}

.filter .buttons{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.filter button.clicked{
    background: #219EBC;
    color: #fff;
    border-color: #8ECAE6;
}

.slider{
    margin: 2rem 0;
}

.slider .info{
    display: flex;
    justify-content: space-between;
    color: #6C767D;
}

.slider input{
    width: 100%;
    height: 5px;
}

.orientation .buttons{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
} 

.default{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 50vh;
    overflow: hidden;
}

.default img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.controls{
    display: flex;
    justify-content: space-between;
}

.controls button{
    padding: .7rem 1.4rem;
    color: #fff;
    background: #fff;
    border-radius: .2rem;
    text-transform: uppercase;
}

.controls button:hover{
    filter: brightness(95%);
}

.controls .reset-all{
    color: #6C767D;
    border: #CCC solid 1px;
}

.controls .choose{
    background: #6C767D;
    border: 1px solid #CCC;
}

.controls .save{
    background-color: #219EBC;
    border: 1px solid #8ECAE6;
}

@media screen and (max-width: 790px) {
    main{
        width: 100%;
    }
    .content{
        flex-wrap: wrap-reverse;
    }
    .edit-filters{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .controls{
        display: flex;
        flex-direction: column;
    }
    .controls button{
        width: 100%;
        margin-bottom: .5rem;
    }
}